html,
body{min-height: 100%;}
body{
	padding: 20px;
	background: #bbeaf4 url('assets/bg.jpg') center center no-repeat;
}
#language,
#username{
	width: 200px;
	border: 2px solid #ccc;
	font: bold 20px/26px Helvetica, sans-serif;
	float: right;
	padding: 0 0 0 10px;
	margin: 0 20px 0 0;
	border-radius: 5px;
	background: none;
	color: #777;
}
#messages{
	list-style: none;
	margin: 40px 0 0;
	padding: 0;
	font: bold 20px/30px Helvetica, sans-serif;
}
#messages li{
	text-align: right;
	width: 100%;
}
#messages li.own{text-align: left;}
#messages span{
	color: #009;
	font-weight: normal;
}
#messages .own span{color: #900;}