body{padding: 20px;}
h1{
	text-align: center;
	color: #009;
	font: bold 60px/80px Helvetica, sans-serif;
	margin: 100px 0 0;
}
#language,
#username{
	width: 200px;
	border: 2px solid #ccc;
	font: bold 20px/26px Helvetica, sans-serif;
	float: right;
	padding: 0 0 0 10px;
	margin: 0 20px 0 0;
	border-radius: 5px;
}
#messages{
	list-style: none;
	margin: 0;
	padding: 0;
	font: bold 20px/30px Helvetica, sans-serif;
}
#messages strong{color: #009;}
#messages strong.own{color: #900;}